extends layout

block content
    main.container(role='main')
      h1.mt-5 NodeJS Redis Tutorial
      hr
      if error 
        .alert.alert-danger 
         | #{error}
      if flag ==1
        .alert.alert-success 
         | Data added successfully
      else if flag ==2
        .alert.alert-danger 
         | Data deleted successfully
      p.lead 
       | Books Management with Redis - Search, Add or View Books
      form(action="/book/search" method='GET')
        .form-group
          label Search Book
          input.form-control(type='text' name='isbn' placeholder='Book ISBN' required)
        input.btn.btn-primary(type='submit' value='Search')
      br
      .table-responsive
        table.table.table-striped.table-sm
          thead
            tr
              th #
              th Name
              th Price
              th Author
              th Action
          tbody
            if book
              tr
                td #{isbn}
                td #{book.name}
                td #{book.price}
                td #{book.author}
                td 
                  a(href="/book/delete?isbn="+isbn  onclick="return confirm('Are you sure you want to delete this record?');") Delete
            else
              tr
                td(colspan="5") No books found
               
      hr
      form(method='POST' action='/book/add')
        .form-group
          label ISBN
          input.form-control(type='text' name='isbn' placeholder='ISBN of book' required)
          label Name
          input.form-control(type='text' name='name' placeholder='Name of book' required)
        .form-group
          label Price
          input.form-control(type='text' name='price' placeholder='Price' required)
        .form-group
          label Author
          input.form-control(type='text' name='author' placeholder='Author' required)
        input.btn.btn-primary(type='submit' value='Add Book')